.navigateList {
    display: flex;
    gap: 8px;
    justify-content: center;
}


.navigate {
    border-radius: 6px;
    background-color: olive;
    padding: 8px;
    min-width: 100px;
    text-align: center;
}